# Logs
logs
*.log
npm-debug.log*

# Docker
.docker
docker/logs/

# Environment files
.env
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Sistema operacional
.DS_Store
Thumbs.db